<footer>
  <div class="footer-sections">
    <h4>About TechShamp</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit hic
      qui odit iure mollitia doloremque ullam cumque sequi quia aliquam illo
      odio excepturi beatae molestias inventore eum, totam deleniti aliquid.
    </p>
    <a class="btn" href="/about">Learn More</a>
  </div>
  <div class="footer-sections">
    <h4>Quick Links</h4>
    <ul class="navigation-links">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/services">Services</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </div>
  <div class="footer-sections">
    <h4>Address</h4>
    <address>
      113h Feroz, Feroz Park Phase 2<br />
      Green Town, Lahore<br />
      <a href="tel:+923124874118">+92 312 4874118</a>
      <a href="mailto:shampytechnical@gmail.com">shampytechnical@gmail.com</a>
    </address>
  </div>
</footer>
