@font-face {
  font-family: "Codec Pro";
  font-weight: 300;
  src: url("fonts/CodecPro-regular.woff2");
}
@font-face {
  font-family: "Codec Pro";
  font-weight: 900;
  src: url("fonts/CodecPro-ExtraBold.woff2");
}

:root {
  --color-bg: #101728;
  --color-text: #0f1819;
  --color-blue: #1f41bb;
  --color-purple: #260e69;
  --color-magenta: #9340ff;
  --color-pink: #ff3c5f;
  --color-white: #fff;

  --btn: linear-gradient(to left, var(--color-pink), var(--color-blue));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  color: var(--color-white);
  background: var(--color-bg);
  font-family: "Codec Pro";
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(var(--color-blue) 30%, var(--color-bg) 70%);
}
