@font-face {
  font-family: "Cooper-Heavy";
  src: url("../fonts/CooperHewitt-Heavy.woff");
}
@font-face {
  font-family: "Cooper-Thin";
  src: url("../fonts/CooperHewitt-Thin.woff");
}
@font-face {
  font-family: "Prompt";
  src: url("../fonts/prompt.woff2");
}

:root {
  --color-primary: #66fcf1;
  --color-secondary: #c5c6c7;
  --color-tertiary: #0b0c10;

  --primary-contrast: #45a29e;
  --secondary-contrast: #1f2833;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  transition: all 1s;
}
h1,
h2,
h3 {
  font-family: "Cooper-Heavy";
}
h4,
h5,
h6,
p,
div,
a,
li {
  font-family: "Cooper-Thin";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
nav {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10rem;
  background: var(--color-tertiary);
}
nav h1 {
  font-family: "Prompt" !important;
}
nav a {
  color: var(--color-secondary);
  font-family: "Prompt" !important;
}
nav .logo a {
  color: var(--color-secondary);
  transition: all 0.5s;
}
nav .logo a:hover {
  opacity: 0.8;
}
nav .logo span {
  color: var(--color-primary);
}
.navigation-links {
  display: flex;
}
a {
  transition: all 0.5s;
  padding: 0 1.2rem;
}
a:hover {
  color: var(--color-primary);
}

/* Footer */
footer {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(to right, #66fcf282, #45a29e82),
    url("/img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-tertiary);
  font-weight: 600;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer h4 {
  font-size: 1.8rem;
}
footer a {
  color: var(--color-tertiary);
}
.footer-sections {
  width: 20%;
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  flex-direction: column;
}
.footer-sections .navigation-links {
  display: block;
}
